$lt-gray: #ddd;
$background-dark: rgb(46, 124, 160);
$background-moredark:  rgb(3, 29, 43);
$background-light: rgb(1, 33, 48);
$background-pale: rgb(0, 24, 36);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding:  $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:rgb(255, 170, 0);
    min-height: 150px;
}

.active {
    background: $background-moredark;
}