<div class="header">
<div id="chart_container" #chart_container class="playerTwo">
    <!-- <pan-zoom [config]="panzoomConfig"> -->
    <div class="flowchart-example-container" id="exampleDiv" #exampleDiv></div>
    <!-- </pan-zoom> -->
</div>

<div class="form-popup playerOne" id="myForm_input" dir="rtl">
    <form action="/action_page.php" class="form-container" formControlName="contacttype">  
      <label for="funcs"><b>انتخاب ورودی</b></label>

      <mat-select placeholder="انتخاب ورودی" formControlName="contacttype">
          <mat-option *ngFor="let input of inputs" [value]="input">
            {{ input }}
          </mat-option>
      </mat-select>

        <button type="submit" class="btn " style="margin-top: 270px;" onclick="changeOperator()">اعمال</button>
        <button type="button" class="btn cancel" onclick="closeForm()">انصراف</button>
    </form>
</div>

<div class="form-popup playerOne" id="myForm_rsi" dir="rtl">
    <form action="/action_page.php" class="form-container" formControlName="contacttype">  
      <label for="funcs"><b>انتخاب دوره</b></label>

      <mat-select placeholder="انتخاب دوره" formControlName="contacttype">
          <mat-option *ngFor="let period of periods" [value]="period">
            {{ period }}
          </mat-option>
      </mat-select>

        <button type="submit" class="btn " style="margin-top: 270px;" onclick="changeOperator()">اعمال</button>
        <button type="button" class="btn cancel" onclick="closeForm()">انصراف</button>
    </form>
</div>

<div class="form-popup playerOne" id="myForm_macd" dir="rtl">
    <form action="/action_page.php" class="form-container" formControlName="contacttype">  
      <label for="funcs"><b>انتخاب دوره اول</b></label>

      <mat-select placeholder="انتخاب دوره اول" formControlName="contacttype">
          <mat-option *ngFor="let period of periods" [value]="period">
            {{ period }}
          </mat-option>
      </mat-select>
      <label for="funcs"><b>انتخاب دوره دوم</b></label>

      <mat-select placeholder="انتخاب دوره دوم" formControlName="contacttype">
          <mat-option *ngFor="let period of periods" [value]="period">
            {{ period }}
          </mat-option>
      </mat-select>

        <button type="submit" class="btn " style="margin-top: 200px;" onclick="changeOperator()">اعمال</button>
        <button type="button" class="btn cancel" onclick="closeForm()">انصراف</button>
    </form>
</div>

</div>


<script  type="text/javascript">
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }

    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>


<input type="button" value="delete" (click)="deleteOperationOrLink()" style="margin-left:20px;">
<input type="button" value="load" (click)="load()">
<input type="button" value="get" (click)="get()">

<br>
<div class="disp">
<textarea nbInput  shape="round" name="diagModel" [(ngModel)]="diagModel" placeholder="model"
style="height: 300px; width: 500px; margin-left: 20px;"></textarea>

<div class="palette">
  <button md-button class="input_circle_icon" (click)="addNewOperator3()">ورودی</button>    
  <button md-button class="output_circle_icon" (click)="addNewOperator4()" >خروجی</button>    
  <button md-button class="myTest_icon" (click)="addNewOperator()">عملگر یک</button> 
  <button md-button class="myTest2_icon" (click)="addNewOperator2()"> عملگر دو</button>    
  </div>
</div>
