/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


$lt-gray: rgba(221, 221, 221, 0);
$background-dark: rgb(149, 158, 212);
$background-light: rgb(70, 101, 204);
$background-pale: rgb(53, 105, 184);
$primary-color-dark:   rgb(10, 56, 156);
$primary-color:        rgb(46, 82, 160);
$primary-color-light:  rgb(26, 6, 63);
$primary-color-text:   rgb(44, 6, 6);
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #1d0606;
$divider-color:        rgb(31, 7, 7);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

// some basic resets 

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
  
}

.container {
    margin: 20px;
    display:flex;
}

.background-primary {
  background-color: $background-dark!important;
}
.background-accent {
  background-color: $accent-color!important;
}
.text-floral-white {
  color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.highlight {
  background-color: $background-pale;
  border: 1px solid $primary-color-dark;
  z-index: 1;
  transform: scale(1.01);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
